:root {
  --accent: #174188;
  --accent-light: #3764a7;
  --pure-white: #fff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "open sans", sans-serif;
  color: var(--accent-light);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 1px solid black; */
}
.header {
  background-color: var(--accent);
}

.header a {
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.header-logo {
  display: inline-block;
  width: 20;
  font-size: 22px;
  font-weight: 500;
  color: var(--pure-white);
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu li {
  padding: 10px 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu-link {
  font-size: 12px;
  line-height: 12px;
  padding: 15px 15px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: var(--accent-light);
}

.intro-inner {
  text-align: center;
  margin: 20px;
}

.intro-col img {
  width: 250%;
  width: 250px;
  border-radius: 50%;
}
.section-title {
  text-align: center;
}

.contacts {
  text-align: center;
  margin: 20px;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-list li {
  /* border: 2px solid var(--accent); */
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px;
}
.skills {
  background-color: var(--accent);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 15px;
}
.skills-list {
  color: var(--pure-white);
  background-color: var(--accent);
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 15px;
}

.skills li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
  margin: 20px;
}

.languages {
  background-color: var(--accent);
  color: #fff;
  padding: 15px;
}
.education {
  padding: 20px;
}
.footer {
  text-align: center;
}
@media (min-width: 768px) {
  .intro-inner {
    display: flex;
  }
  .intro-col {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50%;
  }
  .intro-col2 {
    width: 50%;
    margin: 0 0 10px;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .contacts-list li {
    width: 48%;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: var(--accent);
    list-style: none;
  }

  .menu a {
    padding: 15px 30px;
    color: var(--pure-white);
    background-color: var(--accent);
    border-radius: 4px;
  }
  .contacts-list {
    justify-content: center;
  }
  .contacts-list li {
    width: 32%;
    margin-bottom: 0;
  }
  .skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .intro-col img {
    width: 250%;
    width: 250px;
    border-radius: 50%;
  }

  .intro-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
